
.container{}
.endpoint-headers{
    font-size: 3rem;

}
.endpoint-method{
    font-size: 4rem;

}
.endpoint-method-description{
    font-size: 2rem;
}
.endpoint-parameters{
    font-size: 3rem;

}
.endpoint-sample-response{
    font-font: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}
.endpoint-sample-response-content{
    text-align: justify;
    font-family: "Courier New", Courier, monospace;

}
.endpoint-summary{
    border-width: 5px;

}
.endpoint-title{
    font-font: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.endpoint-title-content{

    font-family: Georgia, serif;
    font-size: 3rem;
    text-align: left;
}
.endpoint-variable{

    font-font: Arial, Helvetica, sans-serif;
    font-size: 2rem;


}
.endpoint-variable-description{
    font-family: Georgia, serif;
    font-size: 1rem;
    text-align: left;

}
.home-title{
    font-font: Arial, Helvetica, sans-serif;
    font-size: 12rem;
    text-align: center;

}
.nav-item{}
.nav-link{}
.navbar{}
.navbar-brand{}
.navbar-nav{}
.navbar-toggler{}
.page-title-docs{
    font-size: 6rem;
    text-align: center;

}
.title-page-summary{
    font-family: Georgia, serif;

    font-size: 3rem;

    text-align: center;

}