<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Demo</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#MountainPeakTable").DataTable();
    })
</script>
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/documentation}"> Read the Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="https://rapidapi.com/SeanRogan/api/peak-conditions">Find the project on the Rapid API Hub</a>
                </li>
            </ul>
        </div>
    </div>
    <!--navbar-->
</nav>

<table class="table table-bordered table-striped" id="MountainPeakTable">
    <thead>
    <tr>
        <th>Mountain Peak</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--this is like an enhanced java for loop, for(Object o : collectionOfObjectsName),
    peak is the named variable to represent each object in peak_list,
     which is defined in the controller class ModelAndView Object creation-->
    <tr th:each="peak: ${peak_list}">
        <td th:text="${peak.peakName}" />
        <td>
            <a th:href="@{/getOneDayForecastDemo(peakId=${peak.peakId})}" class="btn btn-info">Get 1 Day Forecast</a>
        </td>
        <td>
            <a th:href="@{/getExtendedForecastDemo(peakId=${peak.peakId})}" class="btn btn-info">Get 6 Day Forecast</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>